@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?snkwbv');
    src:    url('../fonts/icomoon.eot?snkwbv#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?snkwbv') format('truetype'),
        url('../fonts/icomoon.woff?snkwbv') format('woff'),
        url('../fonts/icomoon.svg?snkwbv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-forklift:before {
    content: "\e901";
}
.icon-optimize-cloud2:before {
    content: "\e905";
}
.icon-optimize-cloud:before {
    content: "\e906";
}
.icon-forklift2:before {
    content: "\e900";
}
.icon-optimize-dimer:before {
    content: "\e902";
}
.icon-optimize-server:before {
    content: "\e903";
}
.icon-migrate:before {
    content: "\e904";
}
.icon-connection:before {
    content: "\e907";
}
.icon-location:before {
    content: "\e908";
}
.icon-location2:before {
    content: "\e909";
}
.icon-compass:before {
    content: "\e90a";
}
.icon-compass2:before {
    content: "\e90b";
}
.icon-display:before {
    content: "\e90c";
}
.icon-user:before {
    content: "\e90d";
}
.icon-user-tie:before {
    content: "\e90e";
}
.icon-sphere:before {
    content: "\e90f";
}
.icon-loop:before {
    content: "\e910";
}

